[run]
source = .
omit =
    */tests/*
    */test_*.py
    */__pycache__/*
    */hw/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    raise AssertionError
    raise NotImplementedError
